src/main/app/experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd" >

	<context:property-placeholder location="common.properties, mule.${mule.env}.properties"/>
    
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration" >

    </http:listener-config>
    
    <http:request-config name="ehr-system-api" host="${api.ehr.host}" port="${api.ehr.port}" basePath="${api.ehr.basepath}" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="ehr-system-api/healthcare-system-api.raml"/>
    </http:request-config>
    
    <http:request-config name="ehr2crm-process-api" host="${api.ehr2crm.host}" port="${api.ehr2crm.port}" basePath="${api.ehr2crm.basepath}" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="ehr2crm-sync-process-api/healthcare-ehr2crm-sync-process-api.raml"/>
    </http:request-config>    
        
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="true" consolePath="console" doc:name="Router">
        <apikit:flow-mapping resource="/patient/migrateClinicalData" action="get" flow-ref="get:/patient/migrateClinicalData:api-config"/>
        <apikit:flow-mapping resource="/patient/{id}/migrateClinicalData" action="get" flow-ref="get:/patient/{id}/migrateClinicalData:api-config"/>
    </apikit:config>

        
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>

     <flow name="get:/patient/migrateClinicalData:api-config"  >
        <http:request config-ref="ehr-system-api" path="/Patient" method="GET" doc:name="Fetch Patients from EHR"/>
        <dw:transform-message doc:name="Extract patient ids">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.entry map {
	"id" : $.resource.id
}]]></dw:set-payload>
        </dw:transform-message>
        <foreach collection="#[payload]" doc:name="For Each">
            <logger message="Calling post for #[payload.id]" level="INFO" doc:name="Call migrate for a particular patient"/>
            <http:request config-ref="ehr2crm-process-api" path="/patients/{patientId}/migrateClinicalData" method="POST" doc:name="Migrate Patient clinical data">
                <http:request-builder>
                    <http:uri-param paramName="patientId" value="#[payload.id]"/>
                </http:request-builder>
            </http:request>
        </foreach>

        <logger message="The migration of clinical data has finished. #[payload]" level="INFO" doc:name="Log success"/>
        <dw:transform-message doc:name="Create response JSON">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{"message": "The GET process has finished."}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="get:/patient/{id}/migrateClinicalData:api-config">
        <http:request config-ref="ehr2crm-process-api" path="/patients/{patientId}/migrateClinicalData" method="POST" doc:name="Migrate Patient by Id from EHR">
            <http:request-builder>
                <http:uri-param paramName="patientId" value="#[flowVars.id]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Create response JSON">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{"message": "The migrate process for a patient has finished."}]]></dw:set-payload>
        </dw:transform-message>
    </flow>

    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
    
        <apikit:mapping statusCode="401">
            <apikit:exception value="org.mule.api.security.UnauthorisedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unauthorized&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot;,&quot;service&quot; : &quot;clinicalData&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot;,&quot;service&quot; : &quot;clinicalData&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; ,&quot;service&quot; : &quot;clinicalData&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="500">
            <apikit:exception value="java.lang.Exception"/>
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{&quot;message&quot; : &quot;Internal Server Error&quot;,&quot;service&quot; : &quot;clinicalData&quot;, &quot;reason&quot; : &quot;#[exception.getSummaryMessage()]&quot;}" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
